@model IEnumerable<InventoryManagementSystem.Models.Sale>

@{
    ViewBag.Title = "DisplaySale";
}

<h2>DisplaySale</h2>
<p>
    @Html.ActionLink("Create New", "SaleProduct", "Sale", new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Sale Product ")
        </th>
        <th>
            @Html.DisplayName("Sale Quantity ")
        </th>
        <th>
            @Html.DisplayName("Sale Date ")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem=>item.Sale_prod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sale_qnty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sale_date)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Sale", new { id = item.id }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Details", "Details", "Sale", new { id = item.id }, new { @class = "btn btn-success" })
                @Html.ActionLink("Delete", "Delete", "Sale", new { id = item.id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>